<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Recettes</title>
		{# asset() génère l'url d'un fichier situé dans le répertoire public (sert à gérer les liens) #}
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
		<link rel="icon" href="{{ asset('assets/img/favicon.ico') }}" type="image/x-icon">
	</head>

	<body>
		<header>
			<section class="header-content">
				<div><img src="{{ asset('assets/img/recette-logo.png') }}" alt="logo site" class="logo"></div>
				<nav>
					<ul class="nav-links">
						<li>
							<a href="{{ path('home') }}">Accueil</a>
						</li>
						<li>
							<a href="{{ path('recipe-liste') }}">Toutes les recettes</a>
						</li>
					</ul>
				</nav>
			</section>
		</header>

		<main>
